<div>
<br>
<h2>DISCLAIMER</h2>
<br><b>This is the WAY!</b> This MEMO is mainly written for <b>OWN PURPOSES</b>.
It is based on "<i>Google Here, Google There, and Everywhere (GSGS).</i>"
Whether this is <b>PLAGIARY</b> or <b>RESEARCH</b>, 
there has never been a claim that this is an original work, 
nor is it necessarily the best solution, and not for Scopus consumption :).
Please provide feedback, especially if you have alternative explanations.
Hopefully, this note will be helpful in the future when you have forgotten 
how to solve this trivia problem.
<br><br><br>
<hr>
<div>
&copy; {{ site.copyright }} --- {{ site.author }} --- 
{% for ii in site.navbarlinks %}    
  {% if ii.navbar == "About" %}
    <a href="{{ ii.link | relative_url }}">{{ ii.navbar }}</a> ---
  {% endif %}
{% endfor %}
Revision: {{ site.version }}.
</div>
</div>
